[run]
source = ./
omit =
    tests/*
    */__pycache__/*
    */site-packages/*
    .venv/*
    .git/*
    .cursor/*
    node-types/*
    __pycache__/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    @abstract
    pass

[html]
directory = test_reports/htmlcov 